{{!-- Simple footer shown across all pages. --}}
<div class="container-fluid">
    <div class="row" id="footer-div">
        <div id="line"></div>
        <div class="col-sm text-left p-3" id="copyright-info">
            © 2022 Gator BnS All Rights Reserved.
        </div>
        <div id="footer-nav-width">
            <div class="d-flex flex-row-reverse text-right p-2" id="footer-nav">
                <a class="nav-item nav-link" id="footer-policy" href="/">Privacy Policy</a>
                <a class="nav-item nav-link" id="footer-ToS" href="/">Terms of Services</a>
                <a class="nav-item nav-link" id="footer-about" href="/about">About Us</a>
            </div>
        </div>
    </div>
</div>
