{{!-- This is the About page where each member of team 7 introduces themselves. --}}
<h3 class="mb-3 text-center" id="about-header">About Us</h3>

<div id="about-card" class="card container mt-2">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#Anish">Anish</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Annie">Annie</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Jimmy">Jimmy</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Kyle">Kyle</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Matthew">Matthew</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Nyan">Nyan</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="Anish">
            <div class="row">
                <div class="col p-4">
                    <h3>Anish Somisetty</h3>
                    <p>
                        Hi! I'm Anish Somisetty from Team 7. I am part of the backend team, responsible for hosting the
                        AWS cloud server and maintaining the RDS database.
                    </p>
                </div>
                <div class="col-auto"><img src="/images/AnishPFP.png"></div>
            </div>
        </div>
        <div class="tab-pane" id="Annie">
            <div class="row">
                <div class="col p-4">
                    <h3>Annie Liao</h3>
                    <p>Hello, I'm Annie from Team 7. I'm part of the Frontend group that is responsible for the UI
                        design and components of this website.
                    </p>
                </div>
                <div class="col-auto"><img src="/images/AnniePFP.png"></div>

            </div>
        </div>
        <div class="tab-pane" id="Jimmy">
            <div class="row">
                <div class="col p-4">
                    <h3>Jimmy Nguyen</h3>
                    <p> Hey, I'm Jimmy. I'm part of team 7 as its front-End Lead.
                        I work with the team as communicator between front-end and back-end,
                        as well as assist in decision-making and design for our UI.
                    </p>
                </div>
                <div class="col-auto"><img src="/images/JimmyPFP.png"></div>
            </div>
        </div>
        <div class="tab-pane" id="Kyle">
            <div class="row">
                <div class="col p-4">
                    <h3>Kyle Chen</h3>
                    <p> Hi everyone, my name is Kyle Chen from team 7. I'm part of the backend team who is responsible
                        for setting up and maintaining the AWS server and RDS database. I'm also the GitHub master who
                        maintains the repo.
                    </p>
                </div>
                <div class="col-auto"><img src="/images/KylePFP.png"></div>
            </div>
        </div>
        <div class="tab-pane" id="Matthew">
            <div class="row">
                <div class="col p-4">
                    <h3>Matthew McAuley</h3>
                    <p> Hey, I'm Matthew from team 7 from the Front-End group.
                        I work with Jimmy and Annie to design the UI components of the website.
                    </p>
                </div>
                <div class="col-auto"><img src="/images/MatthewPFP.png"></div>
            </div>
        </div>
        <div class="tab-pane" id="Nyan">
            <div class="row">
                <div class="col p-4">
                    <h3>Nyan Tun</h3>
                    <p>Hello, my name is Nyan and I'm part of the team 7 participating in the back-end sub-team. I'm
                        currently responsible
                        for building and connecting the server with our web application while also taking on hosting the
                        meetings as project manager as well.
                    </p>
                </div>
                <div class="col-auto"><img src="/images/NyanPFP.png"></div>
            </div>
        </div>
    </div>
</div>