{{!-- Home page --}}
<div id="titleBar">
    <div class="container text-center">
        <p id="site-info">Buy/sell/exchange website exclusively for SFSU students, staff and faculty.</p>
        <img src="/images/banner.png" width="400px">
    </div>
    <br />
</div>

<div id="line"></div>
<br />

<div class="row" id="home-container">
    {{!-- User can click on "Explore All" directly to results page showing all posts from the database. --}}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Most Recent</h4>
                <a href="/explore/all/recent" class="card-links">Explore All</a><div class="space"></div>
                <a href="/explore/all/recent"><img class="card-img" src="images/all-category.jpg"></a>
            </div>
        </div>
        </br>
    </div>
    {{!-- User can click on "Explore All Books" directly to results page showing all posts from the Books category. --}}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Books</h4>
                <a href="/explore/category=Books/recent" class="card-links">Explore All Books</a><div class="space"></div>
                <a href="/explore/category=Books/recent"><img class="card-img" src="images/books-category.jpg"></a>
            </div>
        </div>
        </br>
    </div>
    {{!-- User can click on "Explore All Clothing" directly to results page showing all posts from the Clothing
    category. --}}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clothing</h4>
                <a href="/explore/category=Clothing/recent" class="card-links">Explore All Clothing</a><div class="space"></div>
                <a href="/explore/category=Clothing/recent"><img class="card-img" src="images/clothing-category.jpg"></a>
            </div>
        </div>
        </br>
    </div>
    {{!-- User can click on "Explore All Electronics & Media" directly to results page showing all posts from the
    Electronics & Media category. --}}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Electronics & Media</h4>
                <a href="/explore/category=Electronics%20&%20Media/recent" class="card-links">Explore All Electronics & Media</a><div class="space"></div>
                <a href="/explore/category=Electronics%20&%20Media/recent"><img class="card-img" src="images/electronics-category.jpg"></a>
            </div>
        </div>
        </br>
    </div>
</div>

<div class="row" id="home-container">
    {{!-- User can click on "Explore All Health & Beauty" directly to results page showing all posts from the Health &
    Beauty category. --}}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Health & Beauty</h4>
                <a href="/explore/category=Health%20&%20Beauty/recent" class="card-links">Explore All Health & Beauty</a><div class="space"></div>
                <a href="/explore/category=Health%20&%20Beauty/recent"><img class="card-img" src="images/health-beauty.jpg"></a>
            </div>
        </div>
        </br>
    </div>
    {{!-- User can click on "Explore All Home" directly to results page showing all posts from the Home category. --}}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Home</h4>
                <a href="/explore/category=Home/recent" class="card-links">Explore All Home</a><div class="space"></div>
                <a href="/explore/category=Home/recent"><img class="card-img" src="images/home-category.jpg"></a>
            </div>
        </div>
        </br>
    </div>
    {{!-- User can click on "Explore All Supplies" directly to results page showing all posts from the Supplies
    category. --}}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Supplies</h4>
                <a href="/explore/category=Supplies/recent" class="card-links">Explore All Supplies</a><div class="space"></div>
                <a href="/explore/category=Supplies/recent"><img class="card-img" src="images/supplies-category.jpg"></a>
            </div>
        </div>
        </br>
    </div>

    <div class="col-sm">
    </div>
</div>